.ekart--search--product{
    margin: 20px auto;
    text-align: center;
}
.ekart-search-product-input{
    width: 40%;
    height: 5.5vh;
    padding: 1px 10px;
    outline: none;
    border-radius: 2px;
    background-color: white;
    border: rgb(42, 42, 42) 1px solid;
}
.btn{
    padding: 5px 10px;
    border: none;
}
.btn-search{
    padding: 15px 30px;
    background-color: rgb(75, 75, 75);
    margin-left: 0px;
    color: rgb(255, 255, 255);
}

.ekart-search-result-for{
    margin: 20px auto;
    padding:10px 40px;

}

.btn-search-disabled{
    padding: 12px 30px;
    background-color: #aaa;
    margin-left: -1px;
    color: #999;
    border: #aaa 1px solid;
    cursor: not-allowed;
}